body {
    background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/debut_light.png);
    background-size: 20vw;
    background-blend-mode: color-burn;
    background-color: rgb(37, 37, 38);
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Medium.ttf);
    font-weight: bold;
}

p {
    padding: 0;
    margin: 0;
    font-size: 10vh;

    font-family: Ubuntu;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    background-color: rgb(50, 52, 52);

    height: auto;
    min-width: 100%;
}

.titleButton {
    position: relative;

    padding: 1vw;
    margin: 0;
    
    background-color: rgb(49, 51, 52);
    color: rgb(245, 245, 245);

    box-sizing: border-box;
    box-shadow: inset 0 0 10px 5px rgba(1, 1, 1, 0.2);
    border-style: groove;

    overflow: visible;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: linear 100ms;
}
.titleButton:hover, .titleButton:active {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    background-color: rgb(73, 76, 78);
    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.3), 0 0 10px 5px rgba(43, 48, 50, 0.5);

    border-style: outset;
}

.siteTitle {
    display: flex;
    flex-direction: row;
    align-items: end;
}

#title {
    font-weight: bold;
    font-size: 2.5vw;
}
#extension {
    font-size: 2vw;
}
#logo {
    justify-self: center;
    align-self: center;
    
    margin-right: 0.5vw;
    width: 3vw;
}

/* The block inbetween the tab buttons and the siteTitle that only exists for the inset shadow */
.separator {
    flex: 1;
    width: 100%;
    min-height: 100%;

    border-bottom: solid 1px;
    border-color: #545454;
    background-color: rgb(57, 60, 60);
    box-sizing: border-box;
    box-shadow: inset 0 0 10px 5px rgba(1, 1, 1, 0.1);
}

/* Page Selector */
.pages {
    max-height: 100%;

    display: flex;
    flex-direction: row;
}

.pageButton {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    user-select: none;

    border-style:groove;
    border-color: black;

    padding-inline: 2vw;
    margin: 0;
    height: 100%;
    
    background-color: rgb(49, 51, 52);
    color: rgb(245, 245, 245);
    box-shadow: inset 0 0 10px 5px rgba(1, 1, 1, 0.2);

    overflow: visible;

    transition: linear 100ms;
}
.pageButton:hover {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    background-color: rgb(73, 76, 78);
    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.3), 0 0 10px 5px rgba(43, 48, 50, 0.5);

    border-style: outset;
}
.pageButton:active {
    border-style: inset;
}

/* While :active is an identifier for the button, .pageButton-active is just 
a version of the button that cannot be clicked and appears to be pressed down */
.pageButton-active {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    user-select: none;

    border-style: inset;
    border-color: black;

    padding-inline: 2vw;
    margin: 0;
    height: 100%;
    
    background-color: rgb(44, 46, 46);
    color: rgb(245, 245, 245);
    box-shadow: inset 0 0 15px 10px rgba(64, 64, 64, 0.3), 0 0 10px 5px rgba(43, 48, 50, 0.5);

    overflow: visible;

    transition: linear 100ms;
}
.buttonText {
    font-size: 1.5vw;
}

/* Now this is the actual page contents, when making a new page ignore the navbar */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: rgb(204, 204, 204);

    margin-top: 2.5vw;
    margin-inline: 2.5vw;
}
.sectionTitle {
    margin-right: auto;
    padding-left: 1vw;
    padding-top: 1vw;

    font-size: 2vw;
    font-weight: bold;
}
.sectionLine{
    width: 100%;
    height: 0.5vh;
    background-color: rgb(204, 204, 204);
}
.sectionParagraph {
    padding-top: 1vw;
    padding-inline: 1vw;
    margin-right: auto;

    font-size: 1.5vw;
}