body {
    background-image: url(Img/bgnoise_lg.png);
    background-color: rgb(60, 60, 61);
    background-blend-mode: color-burn;
    padding: 0;
    margin: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Medium.ttf);
    font-weight: bold;
}

p {
    padding: 0;
    margin: 0;
    font-size: 10vh;

    font-family: Ubuntu;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    background-color: rgb(50, 52, 52);
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.2);

    height: auto;
    min-width: 100%;
}

.titleButton {
    position: relative;

    padding: 0.75vw;
    margin: 0;
    
    background: linear-gradient(to bottom, #2e2f30 0%,#313334 17%,#313334 35%,#2e2f30 81%,#292a2b 100%);
    color: rgb(245, 245, 245);

    box-sizing: border-box;
    box-shadow: inset 0 0 10px 5px rgba(1, 1, 1, 0.2);
    border-color: rgb(73, 76, 78);
    border-style: groove;
    border-width: 0.25vw;

    overflow: visible;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: linear 100ms;
}
.titleButton:hover, .titleButton:active {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    background: linear-gradient(to bottom, #434647 0%,#494c4e 17%,#494c4e 35%,#434747 81%,#404144 100%);
    border-color: rgb(73, 76, 78);
    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.2), 0 0 10px 5px rgba(0, 0, 0, 0.3);

    border-style: outset;
}

.siteTitle {
    display: flex;
    flex-direction: row;
    align-items: end;
}

#title {
    font-weight: bold;
    font-size: 2vw;
}
#extension {
    font-size: 1.5vw;
}
#logo {
    justify-self: center;
    align-self: center;
    
    margin-right: 0.5vw;
    width: 2.5vw;
}

/* The block inbetween the tab buttons and the siteTitle that only exists for the inset shadow */
.separator {
    flex: 1;
    width: 100%;
    min-height: 100%;

    border-bottom: solid 1px;
    border-color: rgb(73, 76, 78);
    background: linear-gradient(to bottom, #434647 0%,#494c4e 17%,#494c4e 35%,#434747 81%,#404144 100%);
    box-sizing: border-box;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

/* Page Selector */
.pages {
    max-height: 100%;

    display: flex;
    flex-direction: row;
}

.pageButton {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    user-select: none;

    border-style:groove;
    border-color: rgb(73, 76, 78);
    border-width: 0.25vw;

    padding-inline: 2vw;
    margin: 0;
    height: 100%;
    
    background: linear-gradient(to bottom, #2e2f30 0%,#313334 17%,#313334 35%,#2e2f30 81%,#292a2b 100%);
    color: rgb(245, 245, 245);
    box-shadow: inset 0 0 10px 5px rgba(1, 1, 1, 0.2);

    overflow: visible;

    transition: linear 100ms;
}
.pageButton:hover {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    background: linear-gradient(to bottom, #434647 0%,#494c4e 17%,#494c4e 35%,#434747 81%,#404144 100%);
    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.2), 0 0 10px 5px rgba(0, 0, 0, 0.3);

    border-style: outset;
}
.pageButton:active {
    border-style: inset;

    background: linear-gradient(to bottom, #2e2f30 0%,#313334 17%,#313334 35%,#2e2f30 81%,#292a2b 100%);
    box-shadow: inset 0 0 15px 10px rgba(105, 105, 105, 0.3), 0 0 10px 5px rgba(160, 160, 160, 0.1);
}

/* While :active is an identifier for the button, .pageButton-active is just 
a version of the button that cannot be clicked and appears to be pressed down */
.pageButton-active {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    user-select: none;

    border-style: inset;
    border-color: rgb(73, 76, 78);
    border-width: 0.25vw;

    padding-inline: 2vw;
    margin: 0;
    height: 100%;
    
    background: linear-gradient(to bottom, #2c2c2d 0%,#313334 17%,#313334 35%,#2c2c2d 81%,#222223 100%);
    color: rgb(245, 245, 245);
    box-shadow: inset 0 0 15px 10px rgba(105, 105, 105, 0.3), 0 0 30px 5px rgba(255, 255, 255, 0.171);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

    overflow: visible;

    transition: linear 100ms;
}
.buttonText {
    font-size: 1.5vw;
}

/* Now this is the actual page contents, when making a new page ignore the navbar */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: rgb(204, 204, 204);

    margin-top: 2.5vw;
    margin-inline: 2.5vw;
}
.sectionTitle {
    margin-right: auto;
    padding-left: 1vw;
    padding-top: 1vw;

    font-size: 2vw;
    font-weight: bold;
}
.sectionLine{
    width: 100%;
    height: 0;
    border-bottom: 0.25vw ridge rgb(73, 76, 78);
    background-color: rgb(204, 204, 204);
}
.sectionParagraph {
    padding-top: 1vw;
    padding-inline: 1vw;
    margin-right: auto;

    font-size: 1.5vw;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    margin-top: 4vw;
}
.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: auto;
    padding: 0;
}
.profilePhoto {
    margin-right: auto;
    padding-block: 4vw;
    padding-inline: 4vw;

    width: 40vw;
}
.profileImg {
    width: 100%;
    margin: 0vw;
    padding: 0vw;
}
.profileDesc {
    color: white;
    width: 100%;

    padding-right: 4vw;
}
.profileName {
    padding-top: 2vw;
    font-size: 4vw;
    font-weight: bold;
}
.profileTitle {
    padding-top: 1.5vw;
    font-size: 3vw;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: auto;
    height: auto;
    padding: 0;
    margin-inline: 2vw;
}
.projectImage {
    margin-right: auto;
    padding-block: 4vw;
    padding-inline: 4vw;

    width: 80%;
}

.projectImage button {
    display: flex;
    width: 100%;
    margin: 0vw;
    padding: 0vw;

    border-color: rgb(73, 76, 78);
    border-width: 0.5vw;
    border-style: groove;
}
.projectImage button:hover {
    border-color: rgb(73, 76, 78);
    border-width: 0.5vw;
    border-style: outset;
}
.projectImage button:active {
    border-color: rgb(73, 76, 78);
    border-width: 0.5vw;
    border-style: inset;
}

.projectImage button img {
    width: 100%;
    margin: 0vw;
    padding: 0vw;
}
.projectDescription {
    color: white;
    width: 100%;

    padding-right: 4vw;
}
.projectName {
    padding-top: 2vw;
    font-size: 4vw;
    font-weight: bold;
}
.projectPara {
    padding-top: 1.5vw;
    font-size: 2.5vw;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*padding-block: 0.75vw;*/
    margin-top: auto;

    background-color: rgb(50, 52, 52);
    /*box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.2);*/
    box-shadow:  0 0 30px 20px rgba(0, 0, 0, 0.2);

    font-size: 10vw;

    /*min-height: 3.25vw;*/
    height: 0vh;
    min-width: 100vw;
}

.sizeSetter {
    width: 2.5vw;
}